
/**
 * Copyright © OXID eSales AG. All rights reserved.
 * See LICENSE file for license details.
 */

$primary:                   #303841;
$secondary:                 #fff;
$success:                   #25A685;
$info:                      #3FA6EA;
$warning:                   #f0ad4e;
$danger:                    #C14541;

$dd-primary-btn:               #3c4e55;
$dd-primary-btn-border:        #314046;
$font-family-sans-serif:    "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base:            0.875rem;